@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F0F1F3;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: var(--font-poppins);
}

/* Hide number input spinners for Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
.no-spinner {
  -moz-appearance: textfield;
}